body {
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
<<<<<<< HEAD
    background-color: rgb(204, 193, 211);
=======
    background-color: rgb(225, 188, 247);
  max-width 1600px
>>>>>>> 0f282b08edf5bf45145813780444bb42f4cd483b
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.title {
    display: block;
    margin: 11px auto;
    margin-top: 60px;
    font-weight: normal;
    font-size: 25px;
}

.input {
    max-width: 200px;
    margin: 0 auto;
    font-size: 20px;
}

.country {
    padding: 20px;
    max-width: 70%;
    margin: 0 auto;
}

.country__name {
    display: flex;
    justify-content: center;
    margin: 0;
    font-size: 40px;
}

.country__info {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    font-size: 25px;
    color: rgb(75, 0, 31);
}

.country__description {
    margin-right: 30px;
    margin-bottom: 30px;
}

.country-list__link {
    color: rgb(173, 0, 144);
}

.country__flag {
    border: black 1px solid;
    width: 300px;
}

<<<<<<< HEAD
.travel-img {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: +100;
=======
.baggage-img {
    
    bottom: 0;
    right: 0;
    background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
>>>>>>> 0f282b08edf5bf45145813780444bb42f4cd483b
}

.language,
.currency,
.country-list__item {
    position: relative;
    margin-left: 40px;
    font-size: 25px;
}

.language::before,
.currency::before,
.country-list__item::before {
    position: absolute;
    top: 4px;
    left: -25px;
    display: block;
    content: '';
    background: transparent;
<<<<<<< HEAD
    background-image: url(./images/air.png);
    background-size: contain;
    background-repeat: no-repeat;
=======
    background-image: url(./images/travel.jpg);
    background-size: center;
>>>>>>> 0f282b08edf5bf45145813780444bb42f4cd483b
    width: 20px;
    height: 20px;
}
